# This flag is used to determine whether you can access and see nav links to search page.
# true allows you to see the search page and access it, false hides the search page and nav links to it.
NEXT_PUBLIC_SHOW_SEARCH_PAGE=true

# This flag is used to determine whether the college page should call the backend.
# Set to false during development to work on the page layout without needing backend data.
NEXT_PUBLIC_COLLEGE_PAGE_BACKEND=true

#This flag is used to determine whether filter UI on frontend is visible
#Set to false on production until feature is developed
NEXT_PUBLIC_SHOW_REVIEW_FILTER=false

#This flag is used to determine whether written response summaries UI on frontend is visible
#Set to false on production until feature is developed
NEXT_PUBLIC_SHOW_SUMMARIES=false

#This flag is to determine whether the Cedar link should be visible
#Set to false on production until feature is developed
NEXT_PUBLIC_CEDAR_LINK=false